<head>
  <title>New People</title>
</head>
<body>
  <header>
      <div class= "bck dark color white padding">
        <h1 class="text center bold">My movies app</h1>
      </div>
  </header>

  <section class="row margin-top">
    <article class="column_4 offset_4">
      <%= render 'form' %>
      <span><%= link_to 'Back to People Index', people_path %></span>
    </article>
  </section>
</body>

