<body>
  <header class="row">
    <h1>Editing movie</h1>
  </header>
  <section class="row">
    <div class="seven columns">
      <%= render 'form' %>
    </div>
  </section>
  <section class="row">
    <%= link_to 'Show', @movie %> |
    <%= link_to 'Back', movies_path %>
  </section>
</body>


